{% extends "base.html" %}

{% block title %}Integrations{% endblock %}

{% block content %}
<div class="container">
	<h1 class="mt-5">Integrations</h1>
	<div class="mb-3">
		<a href="{{ new_integration_url }}" class="btn btn-primary">Add New Integration</a>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Created At</th>
				<th>Handle</th>
				<th>Name</th>
				<th>Type</th>
				<th>Status</th>
				<th>Reference</th>
			</tr>
		</thead>
		<tbody>
			{% for integration in integrations %}
				<tr>
					<td>{{ integration.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
					<td>{{ integration.handle }}</td>
					<td>{{ integration.name }}</td>
					<td>{{ integration.type }}</td>
					<td>{{ integration.status }}</td>
					<td>{{ integration.ref }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}

