{% extends 'base.html' %}

{% block title %}Edit User{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
	<h2>Edit User</h2>
    </div>
    <div class="card-body">
	<form method="PUT" action="{{ url_for('users.update', id=user.id) }}">
	    <div class="form-group">
		<label for="email">Email:</label>
		<input type="text" class="form-control" value="{{ user.email }}" id="email" name="email" required>
	    </div>
	    <div class="form-group">
		<label for="roles">Roles (comma-separated):</label>
		<input type="text" class="form-control" id="roles" value="{{  user.roles | join(',') }}" name="roles" required>
	    </div>
	    <button type="submit" class="btn btn-primary btn-block">Update User</button>
	</form>
    </div>
</div>
{% endblock %}
